{%extends"layout.html"%}
{%block body%}


<table class="table">
    <thead>
        <tr>
            <th scope="col">祝日</th>
            <th scope="col">テキスト</th>
        </tr>
    </thead>
    <tbody>
        {% for holiday in holiday_list %}
            <tr>
                <td>{{ holiday.holi_date }}</td>
                <td>{{ holiday.holi_text }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('show_input') }}" role="button">戻る</a>


{%endblock%}