<script language="JavaScript" type="text/JavaScript">
    function check(){
        if(window.confirm('送信してよろしいですか？')){ 
    return true;
    }
    else{
        window.alert('キャンセルされました'); 
        return false; /
    }
}
</script>

<form method="POST" enctype="multipart/form-data" onSubmit="return check()">
        <div class="field">
            <div for="name">お名前</div>
            <input id="students_form" type="text" name="name" placeholder="あなたのお名前を入力してください" required title="must be alphanumeric in 6-12 chars">
        </div>
        <div>
            <div for="league" required>好きなリーグは？</div>
            <select name="league" required>
                <option value="">選んでね</option>
                <option value="プレミア">イングランドプレミアリーグ</option>
                <option value="リーガ">ラリーガサンタンデール</option>
                <option value="ブンデス">ブンデスリーガ</option>
                <option value="セリエ">セリエA</option>
                <option value="リーグアン">リーグアン</option>
            </select>
        </div>
        <div>
            <div for="message" required>自由記載</div>
            <textarea name="about" required placeholder="好きなことを書いてね" onkeyup="count_down(this);"></textarea>
        </div>
        <button type="submit">送信</button>
</form>